.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img {
    width: 500px;
    height: 300px;
    display: none;
    /* I want to crop each image to 500px by 300px */
    object-fit: cover;
    /* I want to center the image within the cropped area */
    object-position: center;
}

img.displaySlide {
    display: block !important;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 831px;
    /* bad practice but oh well */
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}